---
body-classes: nav-padding
title: Gatherings
---

{% include nav.html %}

<main role=main class="group bg-concrete">
  <div id=sunday-gathering class="bg-argyle pyxl group">
    <div class="container col-9 pxm sm-col-12">
      <div class="nmlm">
        <p class="tl sm-tm col col-6 plm sm-col-12">
        Our Sunday gatherings are at <a
        href="http://www.coldtownetheater.com">ColdTowne Theater</a> at 11 A.M.
        </p>

        <div class="col col-6 plm sm-col-12">
          {% include maps/coldtowne-theater.html %}
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="container col-9 sm-col-12 pxm">
    <h2 class="mb0">
      Community Groups
    </h2>

    <div class="group">
      <p class="tl">
      Community groups are an opportunity during the week to get together at a
      friend's house for prayer and Bible study. Hanging out like this on a
      regular basis builds friendships that help us
      <a href="/about/vision/#mission">make disciples and share Jesus's
      story</a>.
      </p>

      <div class="nmlm group mym">
        <div class="col col-6 sm-col-12 plm">
          <p>7 P.M. each Wednesday at Alan and Myra Alarcon's house.</p>

          <p>
          <a href="mailto:{{ site.people.alan.email }}">Contact Alan for more info &#10140;</a>
          </p>

        </div>

        <div class="col col-6 sm-col-12 plm">
          {% include maps/alan-and-myra.html %}
        </div>
      </div>

      <div class="nmlm group mym">
        <div class="col col-6 sm-col-12 plm">
          <p>
            6:30 P.M. every other Thursday at Tim and Kimber Montgomery's house.
          </p>

          <p>
          <a href="mailto:{{ site.people.tim.email }}">Contact Tim for more info &#10140;</a>
          </p>

        </div>

        <div class="col col-6 sm-col-12 plm">
          {% include maps/tim-and-kimber.html %}
        </div>
      </div>

      <div class="nmlm group mym">
        <div class="col col-6 sm-col-12 plm">
          <p>7 P.M. each Thursday at Aaron and Ashly Stacy's house.</p>

          <p>
          <a href="mailto:{{ site.people.aaron.email }}">Contact Aaron for more info &#10140;</a>
          </p>

        </div>

        <div class="col col-6 sm-col-12 plm">
          {% include maps/aaron-and-ashly.html %}
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class=abstract>
    <p>
      Let us consider how to stir up one another to love and good works, not
      neglecting to meet together, as is the habit of some, but encouraging one
      another.

      <cite>Hebrews 10:24-25</cite>
    </p>
  </div>
</main>

<hr />

<div class="banner-img bg-6th"></div>

