---
body-classes: bg-argyle
---

<header role=banner class="bg halfscreen bg-beliefs-clamped"></header>

{% include nav.html %}

<main role=main class="beliefs group dark-bg">
  <h2>
    Beliefs
  </h2>

  <ul>
    {% for doctrine in site.data.beliefs.doctrine %}
      <li>
        {{ doctrine.summary }}
        <a id="{{ doctrine.summary | slugify }}-anchor" href="#{{ doctrine.summary | slugify }}">
          &#10140;
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for doctrine in site.data.beliefs.doctrine %}
    {% if doctrine.full %}
      <p id="{{ doctrine.summary | slugify }}">
        {{ doctrine.full }}
        <a href="#{{ doctrine.summary | slugify }}-anchor">&#8617;</a>
      </p>
    {% endif %}
  {% endfor %}
</main>

