---
body-classes: bg-argyle
title: Beliefs
description: >-
  Our beliefs come from a long tradition of studying the Bible combined with
  the transformation God has created in our lives. We believe the scriptures
  are a tremendous gift from God that help us understand his character more. We
  take that gift seriously by applying the fullness of our God-granted
  intellects towards internalizing, absorbing, and applying His truth in our
  lives.
---

<header class="bg halfscreen bg-beliefs-clamped"></header>

{% include nav.html %}

<main class="beliefs group dark-bg">
  <h2>
    We believe&hellip;
  </h2>

  <ul>
    {% for doctrine in site.data.beliefs.doctrine %}
      {% if doctrine.summary %}
        <li>
          {{ doctrine.summary }}

          {% if doctrine.full %}
            <a id="{{ doctrine.summary | slugify }}-anchor" href="#{{ doctrine.summary | slugify }}">
              &#10140;
            </a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% for doctrine in site.data.beliefs.doctrine %}
    {% if doctrine.full %}
      <p id="{{ doctrine.summary | slugify }}">
        {{ doctrine.full }}

        {% for reference in doctrine.references %}
          <a href="{{ reference.link }}">{{ reference.text }}</a>
        {% endfor %}

        {% if doctrine.summary %}
          <br />
          <a href="#{{ doctrine.summary | slugify }}-anchor">Back to the top &#8617;</a>
        {% endif %}
      </p>

    {% endif %}
  {% endfor %}
</main>

<script>
  // Allow for the nav bar when the browser scrolls to an anchor
  window.onhashchange = function() {
    window.scrollTo(0, window.scrollY - 60);
  };
</script>
