{% assign sermon = site.data.sermons[-1] %}

{% for series in site.data.sermon-series %}
  {% if series.token == sermon.series %}
    {% assign series = series %}
    {% assign title = series.title %}

    {% if series.prefix-title %}
      {% assign title = series.prefix-title %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign sermon_series_description_text = "All sermons for " | append: title | append: " series" %}

{% if series %}
  {% assign sermon_series_image_class = 'bg-sermon-series-{{ series.token }}' %}
{% else %}
  {% assign sermon_series_image_class = 'bg-sermon-series-default' %}
{% endif %}

