<nav>
  <button type=button class=hamburger>
    <span>
      <span class=line></span>
      <span class=line></span>
      <span class=line></span>
    </span>

    <span>
      <span class=ex></span>
      <span class=ex></span>
    </span>
  </button>

  <a href="{{ site.nav[0].url }}" class="amc logo">&nbsp;</a>

  <div class=nav-wrapper>
    <div class=nav-menu>
      {% for other_page in site.nav %}
        {% if other_page.url != site.nav[0].url %}
          <a href="{{ other_page.url }}">{{ other_page.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
