.bg-architecture-of-truth {
  background-image: url(/img/sermon-series/architecture-of-truth/landscape.jpg);
}
@media (max-width: 1440px) {
  .bg-architecture-of-truth {
    background-image: url(/img/sermon-series/architecture-of-truth/landscape-1440.jpg);
  }
}
@media (max-width: 1024px) {
  .bg-architecture-of-truth {
    background-image: url(/img/sermon-series/architecture-of-truth/landscape-1024.jpg);
  }
}
@media (max-width: 768px) {
  .bg-architecture-of-truth {
    background-image: url(/img/sermon-series/architecture-of-truth/landscape-768.jpg);
  }
}
