.bg-ernermal-encernters {
  background-image: url(/img/sermon-series/ernermal-encernters/ernermal-encouners.jpg);
}
@media (max-width: 1440px) {
  .bg-ernermal-encernters {
    background-image: url(/img/sermon-series/ernermal-encernters/ernermal-encouners-1440.jpg);
  }
}
@media (max-width: 1024px) {
  .bg-ernermal-encernters {
    background-image: url(/img/sermon-series/ernermal-encernters/ernermal-encouners-1024.jpg);
  }
}
@media (max-width: 768px) {
  .bg-ernermal-encernters {
    background-image: url(/img/sermon-series/ernermal-encernters/ernermal-encouners-768.jpg);
  }
}
