---
body-classes: bg-argyle
title: Media
---

{% include most-recent-sermon-variables.html %}

<header class="bg halfscreen banner-img bg-6th-bar"></header>

{% include nav.html %}

<main class="dark-bg pxm mym">
  <div class="group container col-6 md-col-9 sm-col-12 myxl">
    <h2 class=text-center>
      Sermons available as Podcasts and on Sermon Cloud
    </h2>

    <div class="text-center mym">
      <a class="tithely-give-btn mxs inline-block" href="https://networkcmo.com/AustinChapel">Sermon Cloud &#10140;</a>
      <a class="tithely-give-btn mxs inline-block" href="https://itunes.apple.com/us/podcast/austin-chapel/id1131269378?mt=2">Podcast &#10140;</a>
    </div>
  </div>

  <div class="group container col-9 md-col-12">
    <h1>
      Sermons also available via direct streaming
    </h1>

    <div class=nmlm>
      <div class="col col-6 md-col-12 plm mbm">
        <a alt="{{ link_alt_text }}" class="block text-center" href="/media/sermon-series/{{ series.token }}/">
          <div class="relative overflow-hidden" style="max-height: 210px">
            <div class="block col-12" style="content: ''; padding-top: 57.65%"></div>
            <div class="bg {{ sermon_series_image_class }} absolute top-0 left-0 right-0 bottom-0"></div>
          </div>
        </a>
      </div>

      <div class="col col-6 md-col-12 plm mbm tl">
        <h2 class=mt0>Most recent message:</h2>

        {% include sermon.html sermon=sermon %}

        <h4 class=mym>
          {% if series %}
            <a href="/media/sermon-series/{{ series.token }}/">
              {{ sermon_series_description_text  }} &#10140;
            </a>
          {% else %}
            <a href="/media/sermon-series/all/">
              View all sermons &#10140;
            </a>
          {% endif %}
        </h4>
      </div>
    </div>
  </div>

  <div class="group container col-9 md-col-12">
    <div class=nmlm>
      <div class="col col-6 md-col-12 plm mbm">
        <h2 class=mt0>Sermon Series</h2>

        <ul class="no-bullet tl pl0 mt0 mb0">
          {% for series in site.data.sermon-series reversed %}
            <li class=mbm>
              <a href="/media/sermon-series/{{ series.token }}/">
                {{ series.title }} &#10140;
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col col-6 md-col-12 plm mbm">
        <h2 class=mt0>Recent Sermons</h2>

        {% for sermon in site.data.sermons reversed %}
          {% if forloop.index < 4 %}
            {% include sermon.html sermon=sermon %}
          {% endif %}
        {% endfor %}

        <p>
          <a href="/media/sermon-series/all/">View all sermons &#10140;</a>
        </p>
      </div>
    </div>
  </div>
</main>
