---
body-classes: bg-argyle
title: Media
published: false
---

<header role=banner class="bg halfscreen banner-img bg-6th-bar"></header>

{% include nav.html %}

<main role=main class="abstract group dark-bg">
  <h2>Sermons</h2>

  {% for sermon in site.data.sermons %}
    <p>
      {% if sermon.title %}
        <strong>{{ sermon.title }}</strong> &mdash;
      {% endif %}
      <em>{{ sermon.date }}</em>
      <br />
      {% if sermon.summary %}
        {{ sermon.summary }}
        <br />
      {% endif %}
      &DownArrowBar; <a href="{{ sermon.audio }}">Download Audio</a> &#9679;
      <a href="{{ sermon.passage.link }}">{{ sermon.passage.text }}</a>
    </p>
  {% endfor %}
</main>

