---
body-classes: bg-argyle
title: Media
---

<header role=banner class="bg halfscreen banner-img bg-6th-bar"></header>

{% include nav.html %}

{% assign link_alt_text = "All sermons for Jonah series" %}

<main role=main class="dark-bg">
  <div class="group container col-9 pxm md-col-12 mym">
    <div class="nmlm">
      <div class="col col-6 plm md-col-12">
        <a alt="{{ link_alt_text }}" class="block text-center pxxl mtxl" href="/media/sermon-series/jonah/">
          <div class=relative>
            <div class="block col-12" style="content: ''; padding-top: 57.65%"></div>
            <div class="bg bg-sermon-series-jonah absolute top-0 left-0 right-0 bottom-0"></div>
          </div>
        </a>
      </div>

      <div class="tl col col-6 plm md-col-12">
        <h2>Most recent message:</h2>

        {% assign sermon = site.data.sermons[-1] %}
        {% include sermon.html sermon=sermon %}

        <h4>
          <a href="/media/sermon-series/jonah/">
            {{ link_alt_text }} &#10140;
          </a>
        </h4>
      </div>
    </div>
  </div>

  <div class="group container col-9 pxm md-col-12">
    <div class="nmlm myxl">
      <div class="col col-6 plm md-col-12">
        <h2>
          Sermon Series
        </h2>

        <ul>
          <li>
            <a href="/media/sermon-series/jonah/">
              Jonah &#10140;
            </a>
          </li>

          <li>
            <a href="/media/sermon-series/hold-fast/">
              Hold Fast: Hebrews &#10140;
            </a>
          </li>

          <li>
            <a href="/media/sermon-series/individual-messages/">
              Individual Messages &#10140;
            </a>
          </li>
        </ul>
      </div>

      <div class="col col-6 plm md-col-12">
        <h2>Recent Sermons</h2>

        {% for sermon in site.data.sermons reversed limit:3 %}
          {% assign sermon = site.data.sermons[-1] %}
          {% include sermon.html sermon=sermon %}
        {% endfor %}

        <p>
          <a href="/media/sermon-series/all/">View all sermons &#10140;</a>
        </p>
      </div>
    </div>
  </div>
</main>

