.beliefs {
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.beliefs ul {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.beliefs li {
  margin-bottom: 1rem;
}

.beliefs :target {
  background-color: white;
  color: black;

  a {
    color: black;
  }
}

.beliefs a:target {
  color: black;
}

.beliefs p a {
  margin-right: 0.5rem;
}

.beliefs p a:first-child {
  margin-left: 0.5rem;
}

.beliefs p a:last-child {
  line-height: 2rem;
  margin-left: 0.5rem;
}
