@font-face {
  font-family: 'Futura-CondensedMedium';
  font-style: normal;
  font-weight: 400;
  src: local('Futura-CondensedMedium'), local('Futura Condensed Medium'), url(/fonts/futura-condensed-medium.ttf) format('woff');
}
