@import "mixins";

html {
  height: 100%;
}

body {
  height: 100%;
}

.always-fixed-nav {
  margin-top: $nav-line-height;
}

.banner-contact {
  font-size: 2rem;
  margin: 2rem;
}

.cta {
  position: absolute;
  top: 50%;
  width: 100%;
  @include translate(0, -80%);
  text-align: center;
}

.cta > img {
  display: inline;
  vertical-align: middle;
  padding: 0 1rem;
  max-width: 90%;
}

.cta > :first-child {
  border-right: 1px dotted black;
}

@media screen and (max-width: 850px) {
  .cta {
    @include translate(0, -120%);
  }

  .cta > :first-child {
    border-right: none;
    display: none;
  }

  .cta > img {
    padding: 1rem;
  }

  .cta > :last-child {
    max-height: 6rem;
    display: block;
    margin: 1rem auto 0;
  }

  .banner-contact {
    float: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin: 0;
  }
}

.abstract {
  padding: 5rem 2rem;
}

p {
  text-align: justify;
}

.abstract p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  letter-spacing: 0.2px;
}

.abstract > * {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 500px;
  display: block;
}

.abstract > :last-child {
  margin-bottom: 0;
}

.abstract cite {
  font-size: 1.3rem;
  margin-right: 0;
}

@media screen and (max-width: $abstract-breakpoint) {
  .abstract {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 680px) {
  .abstract {
    padding: 1rem;
  }

  .abstract img {
    max-width: 100%;
  }
}

hr {
  content: " ";
  height: $nav-line-height;
  background-color: $nav-background-color;
  margin: 0;
  border: 0;
}

blockquote {
  margin: 0 auto;
  padding: 3vw;
  font-size: 3rem;
}

cite:before {
  content: "\2014";
}

cite {
  display: block;
  font-size: 2rem;
  text-align: right;
  margin-right: 6rem;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  blockquote {
    font-size: 2rem;
  }

  cite {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.big-quote {
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .big-quote {
    font-size: 2rem;
  }

  .big-quote cite {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.go-on {
  font-style: italic;
  text-align: right;
}
