@import "mixins";
@import "variables";

.banner-contact {
  font-size: 2rem;
  margin: 2rem;
}

@media screen and (max-width: 850px) {
  .banner-contact {
    float: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: $nav-line-height * 1.5;
    margin: 0;
  }
}

.abstract {
  padding: 5rem 2rem;
}

p {
  text-align: justify;
}

.abstract p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  letter-spacing: 0.2px;
}

.abstract > * {
  margin: 0 auto;
  margin-bottom: $standard-gutter;
  max-width: 500px;
  display: block;
}

.abstract > :last-child {
  margin-bottom: 0;
}

.abstract cite {
  font-size: 1.3rem;
  margin-right: 0;
}

@media screen and (max-width: $abstract-breakpoint) {
  .abstract {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 680px) {
  .abstract {
    padding: $standard-gutter;
  }

  .abstract img {
    max-width: 100%;
  }
}

hr {
  content: " ";
  height: $nav-line-height;
  background-color: $nav-background-color;
  margin: 0;
  border: 0;
}

blockquote {
  margin: 0 auto;
  padding: 3vw;
  font-size: 3rem;
}

cite:before {
  content: "\2014";
}

cite {
  display: block;
  font-size: 2rem;
  text-align: right;
  margin-right: 6rem;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  blockquote {
    font-size: 2rem;
  }

  cite {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.big-quote {
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .big-quote {
    font-size: 2rem;
  }

  .big-quote cite {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.go-on {
  font-style: italic;
  text-align: right;
}

.sunday-info {
  p {
    margin-top: 0.6rem;
    margin-bottom: 2rem;
  }
}

.index-logo {
  max-width: 200px;
}

@media screen and (max-height: 480px) {
  .index-logo {
    max-width: 12%;
  }
}

@media screen and (max-height: 740px) and (orientation: portrait) {
  .index-logo {
    max-width: 40%;
  }
}

@media (max-height: 800px) and (orientation: portrait) {
  .index-page-stacked {
    display: block;
  }

  .index-page-side-by-side {
    display: none;
  }
}
