@import "variables";

.logo {
  height: $logo-size;
  width: $logo-size;
  margin-left: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  display: inline-block;
}

.logo + .logo {
  margin-left: 1rem;
}

.logo:first-child {
  margin-left: 0;
}

.logo.email {
  background-image: url(/img/logos/email.png);

  // &:hover {
  //   background-image: url(/img/logos/email-negative.svg);
  // }
}

.bg-argyle .logo.email,
.dark-bg .logo.email {
  background-image: url(/img/logos/email.png);
}

.logo.fb {
  background-image: url(/img/logos/fb.png);

  // &:hover {
  //   background-image: url(/img/logos/fb-negative.svg);
  // }
}

.bg-argyle .logo.fb,
.dark-bg .logo.fb {
  background-image: url(/img/logos/fb.png);
}

.logo.insta {
  background-image: url(/img/logos/insta.png);

  // &:hover {
  //   background-image: url(/img/logos/insta-negative.svg);
  // }
}

.bg-argyle .logo.insta,
.dark-bg .logo.insta {
  background-image: url(/img/logos/insta.png);
}

.logo.amc {
  background-image: url(/img/logos/amc.svg);
  height: $nav-line-height;
  @include scale(.66);
}
