$logo-size: 1.5em;

.logo {
  height: $logo-size;
  width: $logo-size;
  margin-left: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  display: inline-block;
}

.logo:first-child {
  margin-left: 0;
}

.logo.email {
  background-image: url(/img/logos/email.svg);

  &:hover {
    background-image: url(/img/logos/email-negative.svg);
  }
}

.logo.fb {
  background-image: url(/img/logos/fb.svg);

  &:hover {
    background-image: url(/img/logos/fb-negative.svg);
  }
}

.logo.insta {
  background-image: url(/img/logos/insta.svg);

  &:hover {
    background-image: url(/img/logos/insta-negative.svg);
  }
}
