@import "variables";

.logo {
  height: $logo-size;
  width: $logo-size;
  margin-left: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  display: inline-block;
}

.logo:first-child {
  margin-left: 0;
}

.logo.email {
  background-image: url(/img/logos/email.svg);

  &:hover {
    background-image: url(/img/logos/email-negative.svg);
  }
}

.bg-argyle .logo.email,
.dark-bg .logo.email {
  background-image: url(/img/logos/email-white.svg);
}

.logo.fb {
  background-image: url(/img/logos/fb.svg);

  &:hover {
    background-image: url(/img/logos/fb-negative.svg);
  }
}

.bg-argyle .logo.fb,
.dark-bg .logo.fb {
  background-image: url(/img/logos/fb-white.svg);
}

.logo.insta {
  background-image: url(/img/logos/insta.svg);

  &:hover {
    background-image: url(/img/logos/insta-negative.svg);
  }
}

.bg-argyle .logo.insta,
.dark-bg .logo.insta {
  background-image: url(/img/logos/insta-white.svg);
}

.logo.amc {
  background-image: url(/img/logos/amc.svg);
  width: 0.7059599461 * $logo-size;

  &:hover {
    background-image: url(/img/logos/amc.svg);
  }
}
