@import "mixins";

html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  height: 100%;
  overflow: hidden;
}

.bannerbg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(/img/zilker-atx.jpg) center center no-repeat;
          background-size: cover;
  -webkit-background-size: cover;
  z-index: -2;
}

.cta {
  position: absolute;
  top: 50%;
  width: 100%;
  @include translate(0, -100%);
  text-align: center;
}

.cta > img {
  display: inline;
  vertical-align: middle;
  padding: 0 1rem;
  max-width: 90%;
}

.cta > :first-child {
  border-right: 1px dotted black;
}

@media screen and (max-width: 850px) {
  .cta > :first-child {
    border-right: none;
  }

  .cta > img {
    padding: 1rem;
  }

  .cta > :last-child {
    max-height: 1.5rem;
    display: block;
    margin: 3rem auto 0;
  }
}

$nav-inter-link-spacing: 2rem;

nav {
  position: absolute;
  bottom: 0;
  left: -$nav-inter-link-spacing;
  right: 0;
  text-align: center;
  background-color: #191919;
}

nav a {
  text-decoration: none;
  color: white;
  line-height: 3rem;
  font-size: 2rem;
  font-family: Contrail One, Impact, sans;
  text-transform: uppercase;
  margin-left: $nav-inter-link-spacing;
  vertical-align: middle;
}

.abstract {
  background: url(/img/concrete.png);
  background-repeat: repeat;
  padding: 5rem 2rem;
}

.abstract p {
  max-width: 500px;
  font-size: 1.5rem;
  margin: 0 auto;
  line-height: 1.9rem;
  letter-spacing: 0.2px;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .abstract {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 680px) {
  .abstract {
    padding: 1rem;
  }
}

hr {
  content: " ";
  height: 3rem;
  background-color: #191919;
  margin: 0;
  border: 0;
}

.city-sweep {
  background: url(/img/austin.jpg) center center no-repeat;
          background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
}

.city-sweep blockquote {
  margin: 0 auto;
  padding: 3vw;
  font-size: 3rem;
}

.city-sweep cite:before {
  content: "\2014";
}

.city-sweep cite {
  display: block;
  font-size: 2rem;
  text-align: right;
  margin-right: 6rem;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .city-sweep blockquote {
    font-size: 2rem;
  }
  .city-sweep cite {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.fixed {
  position: fixed;
  top: 0;
  bottom: initial;
}
