@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin scale($factor) {
  @include transform(scale($factor));
}

@mixin background-size-cover {
  -webkit-background-size: cover;
          background-size: cover;
}

@mixin transition($transitions) {
     -moz-transition: $transitions;
       -o-transition: $transitions;
      -ms-transition: $transitions;
  -webkit-transition: $transitions;
          transition: $transitions;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
          appearance: $appearance;
}
