@import "variables";

$nav-inter-link-spacing: 2rem;

nav {
  position: absolute;
  bottom: 0;
  left: -$nav-inter-link-spacing;
  right: 0;
  text-align: center;
  background-color: $nav-background-color;
}

nav.static {
  position: static;
  margin-left: -$nav-inter-link-spacing;
}

nav a {
  text-decoration: none;
  color: white;
  line-height: $nav-line-height;
  font-size: 2rem;
  font-family: $title-font-family;
  text-transform: uppercase;
  margin-left: $nav-inter-link-spacing;
  vertical-align: middle;
}

nav :nth-child(n + 4) {
  display: none;
}

@media screen and (max-width: 350px) {
  nav a {
    margin-left: $nav-inter-link-spacing / 2;
  }
}

.fixed, .always-fixed, .always-fixed-nav nav {
  position: fixed;
  top: 0;
  bottom: initial;
}
