@import "variables";
@import "mixins";

$nav-inter-link-spacing: 2rem;

// this really depends how many links we have. if we have the logo and then
// more than 3 links, we'll need to increase this.
$nav-breakpoint: 500px;

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: $nav-background-color;
  z-index: 100; // idk fml
}

nav.static {
  position: relative; // heh...
}

nav a {
  text-decoration: none;
  color: white;
  line-height: $nav-line-height;
  font-size: 2rem;
  font-family: $title-font-family;
  text-transform: uppercase;
  margin-left: $nav-inter-link-spacing;
  vertical-align: middle;
}

nav a:visited {
  color: white;
}

.fixed, .always-fixed, .always-fixed-nav nav {
  position: fixed;
  top: 0;
  bottom: initial;
}

nav .logo.amc {
  @include scale(0.75);
}

.nav-wrapper {
  display: inline-block;
  pointer-events: none;
}

.nav-menu {
  pointer-events: auto;
  background-color: $nav-background-color;
  @include transition(all $nav-transition-duration ease-in-out);
}

nav.open  .nav-menu {
  @include translate(0, 0);
}

.hamburger {
  display: none;
  @include appearance(none);
  border-width: 0;
  background-color: transparent;
  width: $nav-line-height;
  padding: 0;
}

.hamburger .line, .hamburger .ex {
  position: absolute;
  width: 60%;
  height: 6.25%;
  background-color: white;
  @include translate(0, -50%);
  @include transition(all $nav-transition-duration ease-in-out);
}

.hamburger .line {
  top: 50%;
  left: 20%;
}

.hamburger .ex:first-child {
  @include transform(rotate(45deg) translate(5px, -11px));
}

.hamburger .ex:last-child {
  @include transform(rotate(-45deg) translate(11px, 5px));
}

.ex {
  opacity: 0;
}

nav.open .ex {
  opacity: 100;
}

.hamburger .line:first-child {
  top: 30%;
}

.hamburger .line:last-child {
  top: 70%;
}

nav.open .hamburger .line {
  opacity: 0;
}

@media screen and (max-width: $nav-breakpoint) {
  .nav-wrapper {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    @include translate(0, -100%);

    a {
      display: block;
      margin-left: 0;
    }
  }

  nav.open-downward .nav-wrapper,
  nav.always-fixed .nav-wrapper,
  .always-fixed-nav nav .nav-wrapper {
    top: $nav-line-height;
    @include translate(0, 0);
  }

  .nav-menu {
    @include translate(0, 100%);
  }

  nav.open-downward .nav-menu,
  nav.always-fixed .nav-menu,
  .always-fixed-nav nav .nav-menu {
    @include translate(0, -100%);
  }

  nav.open-downward.open .nav-menu,
  nav.always-fixed.open .nav-menu,
  .always-fixed-nav nav.open .nav-menu {
    @include translate(0, 0);
  }

  .hamburger {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

