.tl {
  font-size: 1.5rem;
}

.upcase {
  text-transform: uppercase;
}

.tdn {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: $sm-breakpoint) {
  font-size: 1rem;
}
