@import "mixins";

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

// a.k.a. clearfix
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

.no-transition {
  @include transition(all 0s linear !important);
}

.overflow-hidden {
  overflow: hidden;
}

.fit {
  max-width: 100%;
}

.width-100 {
  width: 100%;
}

.vcenter {
  top: 50%;
  @include translate(0, -50%);
}

.no-bullet {
  list-style: none;
}
