.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

// a.k.a. clearfix
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
