@import "mixins";

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

// a.k.a. clearfix
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

.no-transition {
  @include transition(all 0s linear !important);
}
