$font-family: Archivo Narrow, Futura Condensed Medium, sans-serif;
$title-font-family: Archivo Narrow, Impact, sans-serif;
$nav-line-height: 3rem;
$nav-font-size: 2rem;
$nav-background-color: #191919;
$abstract-breakpoint: 800px;
$logo-size: 3rem;
$nav-transition-duration: 0.18s;
$standard-gutter: 1rem;

$sm-breakpoint: 600px;
