$font-family: Helvetica Neue, sans-serif;
$title-font-family: Helvetica Neue, sans-serif;
$logo-font-family: "Futura-CondensedMedium", sans-serif-condensed, sans-serif;
$nav-line-height: 3rem;
$nav-font-size: 2rem;
$nav-background-color: #191919;
$accent-color: #2BFED3;
$abstract-breakpoint: 800px;
$logo-size: 4rem;
$nav-transition-duration: 0.18s;
$standard-gutter: 1rem;

$sm-breakpoint: 600px;
$md-breakpoint: 1024px;
