$font-family: Antic Slab, Georgia, serif;
$title-font-family: Oswald, Impact, sans;
$nav-line-height: 3rem;
$nav-background-color: #191919;
$abstract-breakpoint: 800px;
$logo-size: 3rem;
$nav-transition-duration: 0.18s;
$standard-gutter: 1rem;
