$m: 1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;

.pm {
  padding: $m;
}

.pxm {
  padding-left: $m;
  padding-right: $m;
}

.pyl {
  padding-top: $l;
  padding-bottom: $l;
}

.pyxl {
  padding-top: $xl;
  padding-bottom: $xl;
}

.pxxl {
  padding-left: $xl;
  padding-right: $xl;
}

.plm {
  padding-left: $m;
}

.pl0 {
  padding-left: 0;
}

.mym {
  margin-top: $m;
  margin-bottom: $m;
}

.myxl {
  margin-top: $xl;
  margin-bottom: $xl;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mbm {
  margin-bottom: $m;
}

.mtxl {
  margin-top: $xl
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// negative margin left medium
.nmlm {
  margin-left: -$m;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
