.bg-destroyed-port-aransas-condo {
  background-image: url(/img/destroyed-port-aransas-condo/destroyed-port-aransas-apartment.jpg);
}
@media (max-width: 2048px) {
  .bg-destroyed-port-aransas-condo {
    background-image: url(/img/destroyed-port-aransas-condo/destroyed-port-aransas-apartment-2048.jpg);
  }
}
@media (max-width: 1440px) {
  .bg-destroyed-port-aransas-condo {
    background-image: url(/img/destroyed-port-aransas-condo/destroyed-port-aransas-apartment-1440.jpg);
  }
}
@media (max-width: 1024px) {
  .bg-destroyed-port-aransas-condo {
    background-image: url(/img/destroyed-port-aransas-condo/destroyed-port-aransas-apartment-1024.jpg);
  }
}
@media (max-width: 768px) {
  .bg-destroyed-port-aransas-condo {
    background-image: url(/img/destroyed-port-aransas-condo/destroyed-port-aransas-apartment-768.jpg);
  }
}
