---
body-classes: bg-argyle
title: Vision
description: >-
  Our purpose is to glorify the one and only God by lifting up Jesus through
  the power of His Holy Spirit. We've been charged to make disciples through
  sharing Jesus' story and creating real relationships with those He has put in
  our paths.
---

<header role=banner class="bg halfscreen bg-vision-clamped"></header>

{% include nav.html %}

<main class="group abstract dark-bg vision">
  <h1 id=mission>Mission</h1>

  <p class=text-center>
    <em>Be the church, build the church</em>
  </p>

  <h2>Glory of God</h2>
  <p>
    We do all things to the <strong>glory of God</strong>. We offer our lives
    as spiritual sacrifices. We live for His glory, exalting Christ through the
    power of the Holy Spirit.
  </p>

  <h2>Christ Centered Community</h2>
  <p>
    We strive for true <strong>Christ centered community</strong> spurring one
    another on towards the gospel and serving our King. Bearing with each
    others weaknesses and building one another up in love.
  </p>

  <h2>Make Disciples</h2>
  <p>
    Our mission is to build God’s Kingdom, we do this by <strong>making
    disciples</strong> and preaching the gospel! The gospel has been carried
    one generation to the next by the sharing of the gospel and investing in
    people’s lives by making disciples. One person at a time one relationship
    at a time we will see revival in this city, nation and world!
  </p>

  <h1 id=code>Code</h1>

  <p>
  Our code is a set of truths you'll hear us use as we pray, teach, and converse.
  </p>

  <dl>
    {% for code in site.data.beliefs.code %}
      <dt id="code-{{ code.tagline | slugify }}">{{ code.tagline }}</dt>
      <dd>
        {{ code.description }}
      </dd>
    {% endfor %}
  </dl>
</main>

