<div>
  <h2>
    Logistics
  </h2>

  <ul>
    <li>
      {{ page.day }}, {{ page.formatted-date }} at {{ page.time }}
    </li>

    <li>
      <a href="http://hydeparktheatre.org/site/index.html">Hyde Park Theater</a>
    </li>

    <li>
      <a href="https://www.google.com/maps/dir//511+W+43rd+St/@30.3082776,-97.736373,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8644ca7b05cf525d:0xc8368720dab656df!2m2!1d-97.7340663!2d30.308273">
        511 West 43<sup>rd</sup> Street
      </a>
    </li>
  </ul>
</div>
