<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content=ie=edge>
    {% if page.title %}
      <title>{{ page.title | upcase }} &#9022; AUSTIN CHAPEL</title>
    {% else %}
      <title>AUSTIN CHAPEL</title>
    {% endif %}

    <meta name="google-site-verification" content="2w2iG18QTLwsc2wTcTiAZ1RRIs6CHvOAPpB19c1OrXs" />

    <meta name="description" content="">

    {% include favicons.html %}

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <link rel=stylesheet href=/css/index.css>

    {% include fonts.html %}

  </head>
  <body class="{{ page.body-classes }}">

  {{ content }}

  {% include footer.html %}

  <script async src=/js/index.js></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45308206-6', 'auto');
  ga('send', 'pageview');
  </script>
  </body>
</html>
