---
layout: default
body-classes: bg-argyle
---

{% assign token = page.url | split: '/' | last %}
{% for s in site.data.sermon-series %}
  {% if s.token == token %}
    {% assign series = s %}
  {% endif %}
{% endfor %}

<header role=banner class="bg halfscreen banner-img bg-6th-bar"></header>

{% include nav.html %}

<main role=main class="abstract group dark-bg bg-argyle">
  {% if series.has_image %}
    <div class=relative>
      <div class="block col-12" style="content: ''; padding-top: 57.65%"></div>
      <div class="bg bg-sermon-series-{{ series.token }} absolute top-0 left-0 right-0 bottom-0"></div>
    </div>
  {% else %}
    <h2>{{ series.title }}</h2>
  {% endif %}

  {% for sermon in site.data.sermons reversed %}
    {% if token == sermon.series or (token == 'individual-messages' and sermon.series == null) %}
      {% include sermon.html sermon=sermon %}
    {% endif %}
  {% endfor %}
</main>

