---
layout: default
---

<header role=banner class="bg fullscreen fullscreen-black bg-cliffs">

  <blockquote>
    Oh come, let us worship and bow down. Let us kneel before the Lord, our Maker.

    <cite>
      Psalm 95:6
    </cite>
  </blockquote>

</header>

{% include nav.html %}

<main role=main>
  <div class="bg-concrete abstract">
    <p>
    Worship is anything we say or do to communicate that God is worthy of
    everything we have. Life is busy, so we gather regularly to spend time
    focusing on Him and elevating Him above all else in our lives.
    </p>
  </div>

  <hr />

  <div class="bg-argyle info">
    <div class=side-by-side>
      {% include worship-night-content/what-should-i-expect.html %}
      {% include worship-night-content/stage.html %}
    </div>

    <div class=side-by-side>
      {% include worship-night-content/friends.html %}
      {% include worship-night-content/logistics.html %}
    </div>
  </div>

  <div class="info bg-argyle smaller-screen">
    {% include worship-night-content/what-should-i-expect.html %}
    {% include worship-night-content/stage.html %}
    {% include worship-night-content/logistics.html %}
    {% include worship-night-content/friends.html %}
  </div>

  <hr />

  <div class="bg fullscreen bg-zilker">
    <blockquote class="big-quote dark-bg">
      Don't let your life give evidence against your tongue. Sing with your
      voices &mdash; sing also with your hearts; sing with your mouths &mdash;
      sing also with your conduct.

      <cite>St. Augustine</cite>
    </blockquote>
  </div>
</main>
